.square {
    width:70%;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #000000;/*文字色*/
    background: #FFF;
    border: solid 3px #70A7FA;/*線*/
    border-radius: 10px;/*角の丸み*/
    margin: 0 auto;
}

.container1 {
  height:400px;
}

.move_center {
  text-align:center;
}

.button_center{
  text-align:center;
  position:absolute;
}

.ribbon {
width:50%;
color: #000000;/*文字色*/
padding: 0.5em 0;/*上下の余白*/
border-top: solid 3px #ff8000;/*上線*/
border-bottom: solid 3px #ff8000;/*下線*/
margin: 0 auto;
text-align:center;
}

.ribbon2 {
    display: inline-block;
    position: relative;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    padding: 7px 0;
    font-size: 18px;/*フォントサイズ*/
    background: #78d0f5;/*背景色*/
    color: #FFF;/*文字色*/
    box-sizing: border-box;
}

.ribbon2 h3 {
    vertical-align: middle;
    margin: 0;
    padding: 0 30px;
    border-top: dashed 1px #FFF;/*上の破線*/
    border-bottom: dashed 1px #FFF;/*下の破線*/
    line-height: 46px;
}

.ribbon2:before, .ribbon2:after{
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbon2:before{/*左端の山形*/
  top: 0;
  left: 0;
  border-width: 30px 0px 30px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon2:after{/*右端の山形*/
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}


table {
  text-align: center;
  border-collapse: collapse;
  border: solid 2px #FFBC6F;
  background-color: rgba(255,255,255,0.8);
}

body {
  font-family: 'Meiryo', 'MS PGothic', 'MS Gothic';
  background-image: url("#");
}
.blank_row
{
    height: 51px !important; /* overwrites any other rules */
}
.textt {
  font-size: 18px;
}

tr {
    border: none;
}


.panel-body img { 
    width: 100%; 
} 

.background {
  background-image: url("#");
  
    /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: white;

  
  height: 100%;
}

.transparent {
  height: 100%;
  background: rgba(255,255,255,0.9);
  }
/*.division {*/
/*        width:300px;*/
/*    margin:30px;*/
/*    float:left;*/
/*    height:200px;*/
/*    background-color: #ff0;*/
/*}*/



/* Style the header */
.header {
  padding: 10px 16px;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.blank {
  display: block;
  height: 500px;
  position: fixed;
}