table {
  text-align: center;
  border-collapse: collapse;
  border: solid 2px orange;/*表全体を線で囲う*/
  width: 100%
}

tr {
    border: none;
}


.panel-body img { 
    width: 100%; 
} 

.background {
  background-image: url("../images/background/nightocean.jpg");
  
    /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: white;

  
  height: 100%;
}

.transparent {
  height: 100%;
  background: rgba(255,255,255,0.5);
  }
/*.division {*/
/*        width:300px;*/
/*    margin:30px;*/
/*    float:left;*/
/*    height:200px;*/
/*    background-color: #ff0;*/
/*}*/

