.container

.recomendation{}

.opaque-background {
    background: rgba(255,255,255,0.5);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;


}


/*//bootstrap navbar*/
.navbar {
  background-color: #d9f8c1;
  min-height: 40px !important;
}
.navbar .navbar-brand {
　background: url("images/navbar.jpg") no-repeat left center;
  background-size: contain;
  height: 40px;
  width: 250px;
  color: #0f586a;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #e0f1f3;
}

