/*//bootstrap footbar*/
.footbar {
    display: block;
    position: fixed;
    background-color: #ccc;
    min-height:30px;
    height: 100px !important;
    border:none;
    color: #fff;
    bottom: 0;
}
.list {
    
    text-align: right;
    position: fixed;
    right:20px;
    bottom: 10px;
}

.footbar .footbar-brand {
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 6px;
}
.footbar .footbar-brand:hover,
.footbar .footbar-brand:focus {
  color: #12406B;
}
.footbar-inverse .footbar-nav li a{
    color:#fff;
}
.footbar-inverse .footbar-nav li a:hover,
.footbar-inverse .footbar-nav li a:focus{
    color:#12406B;
}