.container

.recomendation{}

.opaque-background {
    background: rgba(255,255,255,0.5);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;


}


/*//bootstrap navbar*/
.navbar {
  background-color: #d9f8c1;
  min-height: 40px !important;
}
.navbar .navbar-brand {
　background: url("logo.png") no-repeat left center;
  background-size: contain;
  height: 40px;
  width: 250px;
  color: #0f586a;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #e0f1f3;
}
.navbar .navbar-text {
  color: #0f586a;
}
.navbar .navbar-text a {
  color: #e0f1f3;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #e0f1f3; 
}
.navbar .navbar-nav .nav-link {
  color: #0f586a;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #e0f1f3;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #e0f1f3;
  background-color: #151918;
}
.navbar .navbar-toggle {
  border-color: #151918;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #151918;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #0f586a;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #0f586a;
}
.navbar .navbar-link {
  color: #0f586a;
}
.navbar .navbar-link:hover {
  color: #e0f1f3;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f586a;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e0f1f3;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e0f1f3;
    background-color: #151918;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f586a;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e0f1f3;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e0f1f3;
    background-color: #151918;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f586a;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e0f1f3;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e0f1f3;
    background-color: #151918;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f586a;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e0f1f3;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e0f1f3;
    background-color: #151918;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #0f586a;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #e0f1f3;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #e0f1f3;
  background-color: #151918;
}

/*//bootstrap navbar*/
