body {
    background-image: url("../images/Presentation1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}


.square_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 1.5em 2em;
    text-decoration: none;
    border-left: solid 4px #005500;
    border-right: solid 4px #005500;
    color: #FFFFFF;
    background: #66CCCC;
    transition: .4s;
}

.square_btn:hover {
    background: #009966;
    color: #FFF;
}