body {
    background-image: url("../images/Presentation1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.button1 {
        background:url(/button.png) no-repeat;
        width:500px;
        height:40px;
        margin:150px 30px 10px 30px;
}

.button2 {
        background:url(/.png) no-repeat;
        width:240px;
        height:40px;
        margin:150px 30px 10px 30px;
}